@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #a855f7;
  --gray: #2a2a2a;
  --gray-light: #3a3a3a;
  --gray-dark: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@layer utilities {
  /* Bar color */
  #nprogress .bar {
    background: linear-gradient(to right, #a855f7, #9333ea) !important;
    height: 3px !important;
    border-radius: 4px !important;
    box-shadow: 0 0 8px rgba(168, 85, 247, 0.6);
  }

  /* Bar glow */
  #nprogress .peg {
    box-shadow: 0 0 12px #a855f7, 0 0 8px #a855f7 !important;
    border-radius: 4px !important;
  }

  /* Spinner circle */
  #nprogress .spinner-icon {
    border-color: #a855f7 transparent transparent transparent !important;
    width: 18px !important;
    height: 18px !important;
  }

  /* Optional: position spinner top-right */
  #nprogress .spinner {
    @apply fixed top-3 right-3 z-[9999];
  }
}
