@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #BB86FC;
  --gray: #2a2a2a;
  --gray-light: #3a3a3a;
  --gray-dark: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@layer utilities {
  /* Bar color */
  #nprogress .bar {
    @apply bg-[#BB86FC] h-1;
  }

  /* Bar glow */
  #nprogress .peg {
    @apply shadow-[#BB86FC] shadow-lg;
  }

  /* Spinner circle */
  #nprogress .spinner-icon {
    @apply border-t-[#BB86FC] border-l-transparent border-r-transparent border-b-transparent;
    width: 16px;
    height: 16px;
  }

  /* Optional: position spinner top-right */
  #nprogress .spinner {
    @apply fixed top-2 right-2 z-[9999];
  }
}
